<footer>
	<div class="footer-container">
		<a href="#">Mentions Legales</a>
		<a href="#">CGU</a>
		<a href="#">Politique conf</a><br>
		<p>Ludotek - Tous droits réservés - {{date()|date("Y")}}</p>
	</div>
</footer>
